/********** Base styling **********/
* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 175%;
    text-align: center;
    margin-bottom: 30px;
}

section {
    border: 2px solid black;
    margin: 0.5%;
    margin-bottom: 5%;
    padding : 0;
    height: 175px;
    background-color: #999999;
    color: black;
}

p {
    padding: 0.5em;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.row {
    width: 100%;
}

#html {
    background-color: blue;
}

#css {
    background-color: green;
}

#js {
    background-color: red;
}

.title {
    border: 2px solid black;
    border-top: 0;
    border-right: 0;
    width: 40%;
    margin: 0;
    padding: 0;
    float: right;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
}



/********** Desktop devices **********/
@media (min-width: 992px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
    }

    .col-lg-4 {
        width: 32%;
    }
}

/********** Tablet devices **********/
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }

    .col-md-6 {
        width: 49%;
    }

    .col-md-12 {
        width: 99%;
        height: auto;
    }
}

/**********  Mobile devices **********/
@media (max-width: 767px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm4-4, .col-sm5-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }

    .col-sm-12 {
        width: 99%;
        height: auto;
    }
    
}